@import '../utils/variables.scss';

button img {
    height: 40px;
}

form {
    padding: 150px;
    display: flex;
    flex-direction: row;
}

form input {
    height: 40px;
    width: 70vw;
    margin: 10px;
    padding-left: 20px;
}

#CardContainer {
    margin: -100px auto 0;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
}

#linklogin {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    & button {
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        background-color: aqua;
    }
}
