$fire: rgb(221, 103, 19);
$grass: #0c9c13;
$electric: #ffcc00;
$earth: #6b2c07;
$water: #324df8;
$dragon: #001ccf;
$stone: #cf9e50;
$dark: #292d49;
$steel: #0c3f5f;
$fairy: #da2fc3;
$flying: #95a3ff;
$poison: #8300cf;
$ghost: #471fae;
$fighting: #ce0808;
$psychic: #d11c5e;
$bug: #25ca2e;
$normal:rgb(144, 144, 144);
